* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
}

.card {
  border: 1px black dotted;
  margin-top: 1rem;
}

.card img {
  width: 100%;
  display: block;
}

.card h1 {
  background: #fff;
  padding: 5px;
}

.row {
  display: block;
}

html {
  background: green;
}

/* Maße fürs Taplet */
@media (min-width: 768px) and (max-width: 1169px) {
  html {
    background: yellow;
  }
  .row {
    display: flex;
  }
}

/* Maße fürs PC */
@media (min-width: 1170px) {
  html {
    background: red;
  }
  h1 {
    font-size: 32px;
  }
  .row {
    display: flex;
  }
}
